@font-face {
    font-family: 'Quantico';
    src: url('../fonts/Quantico-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/Rajdhani-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'ArchivoBlack';
    src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}