ul li a {
    text-decoration: none;
    color: white; 
 }

 footer{
   background:#3b3b3b;
   font-size: 22px;
   border-radius: 4%;
   height: 200px;
  text-align: center;
  color: white ;

 }
