.premios{
    width: 75vw;
    height: 50vh;
    background: #FF5733;
    border-radius: 30px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.24);
    margin-bottom: 35%;
    display: grid;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vh;
    padding: 3%;
}
ol {
    list-style-position: inside;
    padding-left: 0;
}
li {
    font-size: 29px;
    font-weight: bold;
    color: black;
    padding: 5px 0;
}

#textoPremios{
    font-family: Poppins, Geneva, Tahoma, sans-serif;
}

#textoLi{
    font-family: Poppins, Geneva, Tahoma, sans-serif;
}